<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iMposter.Controller.ControllerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iMposter.Controller.ControllerSettings>
            <setting name="haarScaleFactor" serializeAs="String">
                <value>1.4</value>
            </setting>
            <setting name="haarMinNeighbours" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="haarCascadeFile" serializeAs="String">
                <value>Face\haarcascade_frontalface_alt2.xml</value>
            </setting>
            <setting name="haarMinFaceImageDivider" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="interactionTableFaceRenewalAnnimationMilisecondsDuration"
                serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="interactionTableFaceCaptureSecondInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="interactionTableFaceProcessSecondInterval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="interactionTableFaceStorageMaximalNumber" serializeAs="String">
                <value>50</value>
            </setting>
        </iMposter.Controller.ControllerSettings>
    </userSettings>
</configuration>